ul {
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

img {
    margin: 0;
}

.header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1100px;
    margin: auto;
    width: 100%;
    z-index: 10;
}

.header, .main-menu, .pages, .languages {
    display: flex;
    align-self: center;
    align-items: center;
}

.pages {
    flex-grow: 1;
    justify-content: space-evenly;
}

.logo {
    max-width: 200px;

/*     img {
        margin: 0;
    } */
}

.pages a, .pages .works {
    color: #181818;
    text-transform: uppercase;
    /* font-family: Montserrat, sans-serif; */
    font-weight: 400;
    transition:  color 0.5s ease;

    &:hover {
        color: #ffffff;
    }
}

.works-list {
    display: none;
}

.socials-descktop {
    position: fixed;
    right: 20px;
    z-index: 10;
    bottom: calc(50% - 50px);

    .fb, .yt, .insta {
        width: 35px;
        margin-bottom: 20px;
    }
}

/* mobile */

.mobile-menu {
    display: none;
}

.hamburger {
    display: none;
    position: fixed;
    z-index: 1;
    height: 50px;
    right: 20px;
    top: 20px;
}

.shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #35353585;
    z-index: 20;
    
}

.background {
    position: fixed;
    width: 300px;
    top: 0;
    bottom: 0;
    padding: 0 20px 10px;
    background: #ffffff;
    z-index: 30;
    overflow-y: scroll;

    select {
        font-size: 20px;
    }

/*     img {
        margin-bottom: 0;
    } */

    .logo {
        width: 65%;
        margin: 20px 0 50px;
    }

    .main-menu {
        margin: 0;

        ul {
            list-style: none;
            margin: 0;
        }

        .pages {
            margin-bottom: 40px;
            
            li {
                /* margin: 22px 0; */
                font-size: 18px;
                text-transform: uppercase;
                width: fit-content;
            }
            
            a {
                color: #787878;
                text-decoration: none;
                font-weight: 400;
            }
            
            li:hover, span:hover {
                color: #c4c4c4;
            }

            li:hover span {
                transform: rotate(90deg);
            }

            a:hover {
                color: #c4c4c4;
            }

            /* works submenu */

            .works  {
                position: relative;
            }

            li.works-mobile {
                color: #787878;
                font-weight: 400;
                margin: 22px 0 0 0;
            }

            .works-list {
                display: block;
                left: 40px;
                width: max-content;
                padding: 10px 12px;

                li {
                    margin: 10px 5px;
                    color: #353535;

                    a {
                        font-weight: 300;
                    }
                }
            }

            .works:hover .works-list {
                display: block;
            }
        } 
    }



    .languages {
        display: flex;
        align-items: center;
        padding: 0 0 20px 0;

        li {
            margin: 0;

            .flag {
                height: 20px;
            }
        }
    }

    .socials {
        display: flex;

        .fb, .yt, .insta {
            height: 25px;
            margin-right: 35px;
        }
    }
}



@media screen and (max-width: 1280px) {

    .header {
        max-width: 1000px;
    }

    .logo {max-width: 150px;}
}

@media screen and (max-width: 1024px){

    .header {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        display: block;
        position: absolute;

        .main-menu {
            display: block;

            .pages {
                display: block;
            }
        }
    }

    .socials-descktop {
        display: none;
    }
}