@import "../../style/style.module";

/* .thumbs-carousel {

    .container {
        position: relative;
        overflow: hidden;

        .thumbs {
            position: absolute;
            display: flex;
        }
        
        .thumb-item {
            width: calc($containerWidth / 4);
            aspect-ratio: 1/1;
            overflow: hidden;
        }
    }  
} */

.thumbs-carousel {
    width: fit-content;
    
    .container {
        display: inline-flex;
    }
}

.thumb-item {
    width: calc($containerWidth / 4);
    aspect-ratio: 1/1;
    overflow: hidden;
}

