.form {
    width: 80%;
    margin: auto;
}

input, textarea {
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 12px;
    background: #efefef;

    &::placeholder {
        font-family: 'Exo 2', sans-serif;
    }
}

textarea {
    min-height: 50px;
}

input[type="submit"] {
    width: fit-content;
    padding: 18px 40px;
    border-radius: 100px;
    font-size: 13px;
    letter-spacing: 0.2em;
    border: 1px solid #1f1f1f;
    background: #353535;
    color: #f1f1f1;
    text-transform: uppercase;
    transition: all ease .3s;

    &:hover {
        border: 1px solid #747474;
        background: #f1f1f1;
        color: #242424;
    }
}



