$containerWidth: 1200px;

body, html {
    font-family: 'Exo 2', sans-serif;
    height: 100%
}

h1 {
    font-weight: 300 !important;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
}

h3 {
    text-transform: uppercase;
    font-size: 1.2rem !important;
    color: #424242;
}

.page-subtitle {
    text-align: center;
}

.container {
    max-width: $containerWidth;
    margin: auto;
}

.title {
    margin-top: 30px;
}

.gap {
    height: 120px;
}

.about-text {
    width: 50%;
    margin: 10px auto 30px;
    text-align: center;
} 
/* .about {
    display: flex;
    padding: 0 30px;
    justify-content: space-evenly;

    .about-photo img {
        border-radius: 50%;
        max-height: 300px;
    }

    .about-text {
        width: 50%;
        align-self: center;
    }
} */

.awards {
    max-width: $containerWidth;
}

/* teaser */

.categories-list {
    padding: 0 30px 70px;
}

.category-item {
    
    .container {
        display: flex;
        flex-wrap: wrap;

        h2 {
            width: 100%;
            padding-left: 25px;
        }

        .best-works {
            padding: 25px;
        }
    }
}

.category-item::after {
    display: block;
    content: "";
    height: 1px;
    background: #d3d3d3;
    width: 30%;
    margin: 25px auto;
}

.teaser .photo-background {
    /* grid-area: a; */
    width: 350px;
    height: 200px;
    background: #000000;
    transform: scale(1);
    transition: all .1s ease;

    &:hover {
        transform: scale(1.002);
    }

    .teaser-photo {
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: opacity .5s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}

/* .teaser h3 {
    grid-area: b;

    a {
        text-decoration: none;
        color: #424242;

        &:hover {
            color: #a1a1a1;
        }
    }
}

.teaser .teaser-description {
    grid-area: c;
}

.teaser .see-more {
    grid-area: d;
    width: fit-content;
    height: fit-content;
    align-self: end;
} */

/* categoryTemplate */

.category-description>p {
    max-width: 77%;   
    margin: auto;
    margin: 0 auto 50px;
}

.storefront {
    display: grid;
    grid-template-columns: repeat(3, minmax(160px, 353.333333px));
    grid-auto-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 90%;
    margin: 0 auto 80px;

    .storefront-item {
        position: relative;
        overflow: hidden;

        .photo-background {
            position: relative;
            height: 200px;
            background: #000000;
            transform: scale(1);
            transition: all .1s ease;
            border-radius: 10px;
            overflow: hidden;
        
            &:hover {
                transform: scale(1.002);
                
                .project-title {
                    z-index: 1;
                    transition: all ease .7s;
                }
            }

            .project-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: white;
                z-index: 0;
                transition: all ease .7s;
            }

            .category-photo {
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: opacity .5s ease;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: #424242;
    }

    a:hover {
        color: #979797;
    }
}

/* end of categoryTemplate */

/* projectTemplate */

.project-main-image {
    width: 90%;
    margin: auto;
    display: block !important;
}

.button-return {
    /* display: none; */
    /* position: fixed; */
    position: fixed;
    top: 20vh;
    left: 8vw;
    background: #ffffff81;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 5px;
    z-index: 10;

    button {
        background: transparent;
    }
}

.photos-gallery {
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;

    .photo {
        margin: 5px;

        &:hover {
            cursor: zoom-in;
        }
    }
}

/* end of projectTemplate */

/* prices */

.bundles-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    margin: 20px 0 50px;

    .bundle-title {
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 0;
    }

    .bundle:nth-child(odd) {

        .bundle-title {
            background: #efefef;
        }
    }

    .bundle:nth-child(even) {

        .bundle-title {
            background: #fddfd6;
        }
    }

    .bundle {

        li {
            line-height: 1.3;
            margin-bottom: 10px;
        }
    }
}

.bundle {
    padding: 20px 8%;
    display: grid;
    grid-template-rows: minmax(60px, max-content);

    ul {
        padding: 0 10px;
    }

    .bundleItem:last-child {
        margin-bottom: 40px;
    }
    
    .price {
        font-size: 20px;
        font-weight: 500;
        bottom: 20px;
        align-self: end;
        justify-self: center;
    }
}

/* end of prices */

/* contactForm */

form {
    width: 80%;
    margin: auto;
}

#message {
    min-height: 50px;
}

#phone, #email, #name, #message {
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 12px;
    background: #efefef;
}

#submit {
    padding: 18px 40px;
    border-radius: 100px;
    height: 100%;
    font-size: 12px;
    letter-spacing: 0.2em;
}

button[type="submit"] {
    border: 1px solid #1f1f1f;
    height: 30px;
    border-radius: 3px;
    background: #353535;
    color: #f1f1f1;
    text-transform: uppercase;
    transition: all ease .3s;

    &:hover {
        border: 1px solid #747474;
        background: #f1f1f1;
        color: #242424;
    }
}

.info-block {
    text-align: center;
    width: 40%;
    margin: auto;

    .links {
        text-align: left;

        .resource {
            font-weight: bold;
            text-decoration: underline;
            color: #1f1f1f;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.awards-contacts {
    width: 96%;
    margin: 50px auto;
    text-align: center;

    img {
        width: 60%;
        margin: auto;
    }
}

.awards-contacts::after {
    display: block;
    content: "";
    height: 1px;
    background: #d3d3d3;
    width: 100%;
    margin: 50px auto 0;
}

.contacts {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    gap: 5px;

    .about-photo img {
        border-radius: 50%;
        max-width: 100%;
    }

    .contacts-column {
        display: grid;
        justify-self: center;
        justify-items: center;
        align-self: start;

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;

            a {
                color: #3b3b3b;
            }
        }
    }


}
/* end of contactForm */

/* footer */

.footer {
    min-height: 50px;
    color: #3b3b3b;
    margin-top: 30px;
    flex: 0 0 auto;

    .container {
        display: flex;
        flex-direction: column;
    }

    .button-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        align-self: center;
        margin: 10px;
    }

    .socials {
        text-align: center;
        padding: 50px 0 30px;

        img {
            height: 25px;
            margin: 0 10px;
        }
    }

    p {
        align-self: center;
    }
}


/* mobile */

@media screen and (max-width: 1280px){

    .container {
        max-width: 1150px;
        justify-content: space-between;
    }

    .about {
        padding: 0;
    
        .about-photo img {
            width: 22vw;
            height: 22vw;
            margin-right: 1vw;
        }

        .about-text {
            width: 40vw;
        }
    }

    .category-item .container {

        article {
            margin: 3vw;
            padding: 0;
        }

        h2 {
            padding-left: 1vw;
        }

        .best-works {
            padding: 15px;
        }
    }

    .teaser .photo-background {
        width: 27vw;
    }

    .container .photos-gallery {
        max-width: 1000px;
    }

    /* teaser */

/*     .teaser-photo {
        max-width: 30vw;
    } */

    /* project template */
/*     .photos-gallery {
        display: flex;
        width: 100%;

        .photo {
            width: 100% !important;
        }
    } */

    /* category template */

/*     .storefront {
        grid-template-columns: repeat(3, minmax(160px, 33%));

        .storefront-item {
            grid-template-rows: 1fr 30vw;

            .photo-background {
                width: 100%;
                height: 100%;
            }
        }
    } */

}

@media screen and (max-width: 1024px){

    .container {
        justify-content: space-around;
    }

    .category-item .container {

        h2 {
            padding-left: 2vw;
        }
    }

    .teaser .photo-background {
        width: 90vw;
        height: 60vw;
    }

    .gap {
        height: 50px;
    }

    .content {
        width: 100%;
    }

    .about {

        .about-text {
            width: 50vw;
        }
    }

    .footer {

        .container {
            padding: 0 20px;
        }
    }

    /* contactForm */

    .about-photo {
        height: 25vw;
        width: 25vw;
    }

    .info-block {
        width: 50%;
    }
    
    /* category template */

    .storefront {
        width: 80%;
        grid-template-columns: repeat(2, minmax(160px, 45vw));

        .storefront-item {
    
            .photo-background {
            text-align: center;
                &:hover {
                    transform: none;
                    
/*                     .project-title {
                        position: static;
                        z-index: 1;
                        transition: none;
                        bottom: 5px;
                    } */
                }
    
                .project-title {
                    position: absolute;
                    width: 100%;
                    top: auto;
                    left: auto;
                    right: auto;
                    bottom: 0;
                    transform: none;
                    background-color: #5e5e5e;
                    z-index: 1;

                    display: block;
                }
    
                .category-photo {
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    transition: none;
    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    
        a {
            text-decoration: none;
            color: #424242;
        }
    
        a:hover {
            color: #979797;
        }
    }

    /* project template */
    
    .photos-gallery {
        display: flex;
        width: 100%;

        .photo {
            width: 100% !important;

            &:hover {
                cursor: default;
            }
        }
    }
}


@media screen and (max-width: 768px){

    .category-item .container {

        h2 {
            padding-left: 1vw;
        }
    }

    .about {   
        flex-direction: column;

/*         .about-photo img {
            margin: auto;
            width: 35vw;
            height: 35vw;
        } */

        .about-text {
            width: 80vw;
            margin-top: 20px;
        }
    }

    .about-text {
        width: 70%;
    }

/*     .teaser .photo-background {
        width: 39vw;
        height: 39vw;
    } */

    form {
        text-align: right;
    }

    .info-block {
        width: 70%;
    }

    .contacts {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content 1fr;

/*         .about {

            .about-photo {
                justify-self: center;
    
                img {
                    height: 40vw;
                    width: 40vw;
                }
            }
        } */

        
    }

    .about-photo {
        height: 35vw;
        width: 35vw;
        margin: 0 auto 20px;
    }

/*     #phone, #email {
        width: 50%;
    } */

/*     #submit {
        margin-top: 10px;
        width: fit-content;
        padding: 0 12px;
    } */
    
    /* category template */

    .storefront {
        width: 80%;
        grid-template-columns: repeat(1, 100%);

        .storefront-item {
    
            .photo-background {
                height: 50vw;
            }
        }
    } 
}

@media screen and (max-width: 576px) {

    .about-text {
        width: 80%;
    }

    .categories-list {
        padding: 0 20px 70px;
    }

    .category-item .container {

        h2 {
            padding-left: 0;
            width: 90vw;
        }
    }

/*     .category-item {

        .container {
            
            article {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    order: 1;
                }

                .teaser-description {
                    order: 3;
                }

                .see-more {
                    order: 4;
                    align-self: center;
                } 
            }
        }
    } */

/*     .teaser .photo-background {
        width: 55vw;
        height: 55vw;
        order: 2;
        margin: 22px 0;
    } */

    #phone, #email {
        width: 100%;
    }
}

@media screen and (max-width: 428px) {

    .photos-gallery {
        grid-template-columns: repeat(1, minmax(160px, 1fr));
    }
}