$containerWidth: 1200px;

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 70px 0;
}

h3 {
    text-transform: uppercase;
}

.container {
    max-width: $containerWidth;
    margin: auto;
    width: 90%;
}

/* aside */

.aside {
    width: 300px;

    .aside-container {
        position: fixed;

        img {
            margin-bottom: 0;
        }

        .logo {
            margin: 50px;
        }
    
        .main-menu {
            margin: 0 50px;

            ul {
                list-style: none;
                margin: 0;
            }
    
            .pages {

                li {
                    margin: 22px 0;
                    width: fit-content;
                }
                
                a {
                    color: #787878;
                    text-decoration: none;
                }
                
                li:hover, span:hover {
                    color: #c4c4c4;
                }

                li:hover span {
                    transform: rotate(90deg);
                }

                a:hover {
                    color: #c4c4c4;
                }

                /* works submenu */

/*                 .works {
                    position: relative;
                } */

                .works-list {
                    display: none;
                    /* position: absolute; */
                    width: max-content;
                    background: #f7f7f7;
                    padding: 10px 12px;

                    li {
                        margin: 10px 5px;
                        font-size: 14px;
                        color: #353535;
                        border-bottom: 1px solid #afafaf;
                    }
                }

                .works:hover .works-list {
                    display: block;
                }
            } 
        }

        .socials {
            display: flex;

            li {
                margin: 0;
            }

            .fb {
                width: 21px;
            }

            .yt {
                width: 26px;
                margin: 0 0 0 20px;
            }
        }

        .languages {
            display: flex;
            align-items: center;
            padding: 0 0 20px 0;

            li {
                margin: 0;

                .flag {
                    height: 20px;
                }
            }
        }
    }
}



/* end of aside */

.about {
    display: flex;
    padding: 0 30px;
    justify-content: space-evenly;
    margin-bottom: 70px;

    .about-photo img {
        border-radius: 50%;
        max-height: 300px;
    }

    .about-text {
        width: 50%;
        align-self: center;
    }
}

.services-list {
    display: block;
    padding: 70px 0;
}

.service-item .container {
    display: flex;

    article {
        display: inline-flex;
        justify-content: space-evenly;
        width: 85%;
        margin: 50px;
    } 

    .info {
        width: 60%;

        a {
            text-decoration: none;
            color: #f1f1f1;
        }
    }
}

.service-item:nth-child(odd) {

    .container {
        background: #353535;

        article {

            .info {
                padding: 0 0 0 20px;
            }
        }
    }
    
}

.service-item:nth-child(even) {

    .container {
        display: flex;
        flex-direction: row-reverse;

        article {
            flex-direction: row-reverse;
            width: 100%;

            .info {
                padding: 0 20px 0 0;
            }
        }
    }
}

.item-service {
    display: grid;
    grid-template-areas: "a a" "b c";
    grid-template-columns: 60% 40%;
    grid-template-columns: 40% 55%;
    justify-content: space-between;
}

.item-service > h1 {
    grid-area: a;
}

.item-service > div {
    grid-area: b;
}

.item-service > article {
    grid-area: c;
}

/* teaser */

.teaser-photo {
    max-width: 300px;
    aspect-ratio: 1/1;
}

/* footer */

.footer {
    min-height: 50px;
    background: #3b3b3b;
    color: white;
}


/* mobile */

@media screen and (max-width: 1280px){

    .aside {

        .container {

            .logo {
                width: 170px;
                margin: 10px 0;
            }
        }
    }



    .about {
        padding: 0;
    
        .about-photo img {
            width: 22vw;
            height: 22vw;
            margin-right: 1vw;
        }

        .about-text {
            width: 40vw;
        }
    }

    /* teaser */

    .teaserTitle {
        font-size: calc(1rem + 1vw);
    }

    .teaser-photo {
        max-width: 30vw;
    }

}

@media screen and (max-width: 768px){
    .about {   
        flex-direction: column;

        .about-photo img {
            margin: auto;
            width: 35vw;
            height: 35vw;
        }

        .about-text {
            width: 80vw;
            margin-top: 20px;
        }
    }

    /* teaser */


/*     .teaser-photo {
        max-width: 200px;
    } */
}